body {
  margin: 0;
  font-family: var(--app--font);
  background-color: var(--app--color--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

button:hover,
button:focus,
button:active {
  outline: none;
}